.hero{
    
  background-image: url("../img/bg2.png");
  height: 50%;    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1{
  text-align: center;
  padding: 100px;
  color: white;
  font-weight: 600;
  position: relative;
  font-size: 50px;
}
@media  only screen and (max-width: 600px) {
  .hero H1{
      width:50%;
      text-align: center;
      padding: 50px;
      padding-top: 60px;
      font-size:40px;
  }
}

.sop {
 
    background-color: #F8F8F8;
    height: 70%;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media only screen and (max-width: 600px) {
    .sop {
      height: 800px;
    }
  }
  
.sboxes {
  width: 100%;
  height: 100%;
  padding: 0px 8%;
}

.sboxes h1 {
  text-align: center;
  /* padding-top: 10%; */
  padding-top: 15px;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}


.sboxes h1::after {
  content: '';
  /* background: #303ef7; */
  width: 100px;
  height: 5px;
  position: absolute;
  
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.srow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.sservice {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.sservice i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #a4a8df;
}

.sservice h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.sservice:hover {
  /* background: #a4a8df; */
  color: #fff;
  transform: scale(1.05);
}

.sservice:hover i {
  color: #fff;

}

.s1:hover{
    background-image: url("../img/pkflag.png");
}

.s2:hover{
    background-image: url("../img/hov.png");
}

.s3:hover{
    background-image: url("../img/bg2.png");
}

.jop {
 
    background-image: url("../img/bg5.png");
    height: 60%;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media only screen and (max-width: 600px) {
    .jop {
      height: 890px;
    }
  }
  
.jboxes {
  width: 100%;
  height: 100%;
  padding: 0px 8%;
}

.jboxes h1 {
  text-align: center;
  /* padding-top: 10%; */
  padding-top: 15px;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}


.jboxes h1::after {
  content: '';
  /* background: #303ef7; */
  width: 100px;
  height: 5px;
  position: absolute;
  
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.jrow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.jservice {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
  color: #fff;
}

.jservice i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0a6419;
}
.jservice h1{
    color: white;
}

.jservice h2 {
  font-weight: 600;
  margin-bottom: 8px;
  color: white;
}

.jservice:hover {
  background:rgb(38, 49, 148);
  color: #fff;
  transform: scale(1.05);
}

.jservice:hover i {
  color: #fff;

}


.imsg {
    width: 50%;
     float: right; 
    padding-top: 50px;
    padding-right: 150px;
    /* padding-left: 40px; */
    padding-bottom: 100px;
    box-sizing: border-box;
    text-align: justify;
    }
    .iimg{
      width: 65%;
      height:65%;
      border-radius: 10px;
    
    }
    .imdiv {
    float: right;
    box-sizing: border-box;
    padding-left: 160px;
    width: 50%;
    }
   

  
    .idiv {
   
    background-color: #F8F8F8;

      height: 80%;    
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    @media only screen and (max-width: 600px) {
        .imsg, .idiv {
          width: 100%;
        }
        .imsg {
          padding: 50px;
        }
        .idiv{
            height: 750px;
        }
        .iimg{
            display: none;
        }
        }

        .smsg {
            width: 50%;
             float: left; 
            padding-top: 50px;
            padding-left: 150px;
            padding-right: 40px;
            padding-bottom: 100px;
            box-sizing: border-box;
            text-align: justify;
            }
            .simg{
              width: 65%;
              height:65%;
              /* padding-top:50px; */
              border-radius: 10px;
            
            }
            .simgdiv {
            float: right;
            box-sizing: border-box;
            padding-right: 60px;
            width: 50%;
            }
           
            @media all and (max-width: 767px) {
            .smsg, .simgdiv {
              width: 100%;
            }
            .smsg {
              padding: 50px;
            }
            }
          
            .smsgdiv {
           
              background-image: url("../img/ssbc.png");
              height: 90%;    
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          
           @media only screen and (max-width: 600px){
                .smsgdiv{
                    height:950px;
                }
                .simgdiv {
                    padding-left:150px;
                }
            }